{% extends 'layouts/main.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/assets/js/chosen/chosen.min.css?v={{ version }}"/>
{% endblock %}

{% block page_title %}用户管理#添加用户{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path_for('home') }}"><i class="fa fa-home fa-lg"></i>首页</a></li>
        <li><a href="{{ path_for('identity.index') }}">用户列表</a></li>
        <li class="active"><a>添加用户</a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-white border-top-green">
            <div class="panel-body">
                <form id="ajax_form" role="form" action="{{ path_for('identity.add') }}">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label><i class="required">*</i> 用户名</label>
                                <input type="text" name="username" class="form-control" placeholder="用户名" required="required">
                            </div>
                            <div class="form-group">
                                <label><i class="required">*</i> 手机号</label>
                                <input type="text" name="phone" class="form-control" placeholder="手机号" required="required">
                            </div>
                            <div class="form-group">
                                <label><i class="required">*</i> 邮箱</label>
                                <input type="email" name="email" class="form-control" placeholder="邮箱" required="required">
                            </div>
                            <div class="form-group">
                                <label><i class="required">*</i> 角色</label>
                                <select name="role" class="form-control chosen" data-placeholder="选择角色">
                                    <option></option>
                                    {% for v in roles %}
                                        <option value="{{ v.id }}">{{ v.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 align-center">
                            <button type="reset" class="btn btn-default"><i class="fa fa-undo"></i> 重置</button>
                            <button type="submit" class="btn btn-green"><i class="fa fa-check"></i> 提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/assets/js/chosen/chosen.jquery.min.js?v={{ version }}"></script>
    <script type="text/javascript" src="/assets/js/common/form.js?v={{ version }}"></script>
    <script type="text/javascript" src="/assets/js/app.js?v={{ version }}"></script>
{% endblock %}