{% if data|length > 0 %}
    {% for v in data %}
        <tr>
            <td>{{ v.id }}</td>
            <td>{{ v.name }}</td>
            <td><i class="fa fa-{{ v.icon }}"></i></td>
            <td><span class="badge bg-{{ v.color }}">{{ v.color ? '&nbsp;' : '' }}</span></td>
            <td>{{ v.route }}</td>
            <td>{{ v.args }}</td>
            <td>
                {% if 'menu.edit' in identity.route %}
                    <a href="{{ path_for('menu.edit', {'id': v.id}) }}"><span class="badge bg-light-green"><i class="fa fa-edit"></i>编辑</span></a>
                {% endif %}

                {% if 'menu.submenu' in identity.route and v.route is empty %}
                    <a href="{{ path_for('menu.submenu', {'pid': v.id}) }}"><span class="badge bg-light-green"><i class="fa fa-plus"></i>添加子菜单</span></a>
                {% endif %}

                {% if 'menu.delete' in identity.route %}
                    <a href="javascript:void(0);" class="delete" data-url="{{ path_for('menu.delete', {'id': v.id}) }}"><span class="badge bg-light-red"><i class="fa fa-trash-o"></i>删除</span></a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="7"><i>未找到数据！</i></td>
    </tr>
{% endif %}