{% extends 'layouts/main.twig' %}

{% block page_title %}首页{% endblock %}

{% block content %}
<div class="panel panel-white">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-desktop"></i> 服务器信息</h3>
    </div>
    <div class="panel-body">
        <div class="body-section">
            <h5 class="section-heading"><i class="fa fa-hand-o-right"></i> 程序版本</h5>
            <p class="section-content">&nbsp;&nbsp;&nbsp;&nbsp;<code>V{{ version }}</code></p>
        </div>
        <div class="body-section">
            <h5 class="section-heading"><i class="fa fa-hand-o-right"></i> 操作系统</h5>
            <p class="section-content">&nbsp;&nbsp;&nbsp;&nbsp;<code>{{ serverOS }}</code></p>
        </div>
        <div class="body-section">
            <h5 class="section-heading"><i class="fa fa-hand-o-right"></i> 服务器软件</h5>
            <p class="section-content">&nbsp;&nbsp;&nbsp;&nbsp;<code>{{ serverSoft }}</code></p>
        </div>
        <div class="body-section">
            <h5 class="section-heading"><i class="fa fa-hand-o-right"></i> PHP版本</h5>
            <p class="section-content">&nbsp;&nbsp;&nbsp;&nbsp;<code>{{ PHPVersion }}</code></p>
        </div>
        <div class="body-section">
            <h5 class="section-heading"><i class="fa fa-hand-o-right"></i> 服务器IP</h5>
            <p class="section-content">&nbsp;&nbsp;&nbsp;&nbsp;<code>{{ serverIP }}</code></p>
        </div>
        <div class="body-section">
            <h5 class="section-heading"><i class="fa fa-hand-o-right"></i> 主机名</h5>
            <p class="section-content">&nbsp;&nbsp;&nbsp;&nbsp;<code>{{ serverHost }}</code></p>
        </div>
        <div class="body-section">
            <h5 class="section-heading"><i class="fa fa-hand-o-right"></i> COPYRIGHT</h5>
            <p class="section-content">&nbsp;&nbsp;&nbsp;&nbsp;<code>&copy; {{ copyright }}</code></p>
        </div>
    </div>
</div>
{% endblock %}