{% extends 'layouts/normal.twig' %}

{% block title %}登录{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css?v={{ version }}"/>
{% endblock %}

{% block body_class %}login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="form-container">
                <div class="top-wrapper">
                    <div class="avatar-container">
                        <img src="/assets/curo/img/people/1.jpg" id="avatar" class="avatar animated bounceIn" alt="avatar">
                    </div>
                </div>
                <div class="bottom-wrapper">
                    <form id="ajax_form" class="login-form" role="form" action="{{ path_for('login') }}">
                        <div class="form-group has-feedback">
                            <input type="text" name="account" class="form-control" placeholder="用户名/手机号/邮箱" required="required" autofocus="autofocus">
                            <span class="fa fa-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" name="password" class="form-control" placeholder="密码" required="required">
                            <span class="fa fa-unlock-alt form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="text" name="captcha" class="form-control" placeholder="验证码" required="required">
                            <img src="{{ path_for('captcha') }}" class="form-control-feedback captcha" title="看不清？点击换一张" alt="" onclick="this.src='{{ path_for('captcha') }}?r='+Math.random()">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-green btn-block"><i class="fa fa-key"></i> 登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/assets/js/common/alert.js?v={{ version }}"></script>
    <script type="text/javascript" src="/assets/js/common/form.js?v={{ version }}"></script>
{% endblock %}