<ul class="sidebar-nav">
    <!-- Menu Item -->
    <li class="border-left-green">
        <a href="{{ path_for('home') }}">
            <i class="menu-icon fa fa-lg fa-fw fa-home"></i> <span>扶뒬못</span>
        </a>
    </li>
    <!-- End Menu Item -->

    <!-- Menu Item -->
    {% if identity.nav|length > 0 %}
        {% for menu in identity.nav %}
            {% if menu.route is empty %}
                <li class="border-left-{{ menu.color ? menu.color : 'blue' }}">
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#submenu_{{ menu.id }}">
                        <i class="menu-icon fa fa-lg fa-fw fa-{{ menu.icon }}"></i> <span class="parent-item">{{ menu.name }}</span>
                        <i class="fa fa-caret-right submenu-indicator"></i>
                    </a>
                    <ul id="submenu_{{ menu.id }}" class="collapse">
                        {% for submenu in menu.branches %}
                            {% if submenu.route is empty %}
                                <li>
                                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#multi-level-submenu-{{ submenu.id }}" title="">
                                        <span>{{ submenu.name }}</span><i class="fa fa-caret-right submenu-indicator"></i>
                                    </a>
                                    <!-- Sub Menu Item -->
                                    <ul id="multi-level-submenu-{{ submenu.id }}" class="collapse">
                                        {% for item in submenu.branches %}
                                            <li>
                                                <a href="{{ path_for(item.route) }}"><i class="fa fa-angle-double-right"></i> {{ item.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <!-- End Sub Menu Item -->
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path_for(submenu.route) }}"><i class="fa fa-angle-double-right"></i> {{ submenu.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="border-left-{{ menu.color ? menu.color : 'blue' }}">
                    <a href="{{ path_for('home') }}">
                        <i class="menu-icon fa fa-lg fa-fw fa-home"></i> <span>扶뒬못</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
    <!-- End Menu Item -->
</ul>
